* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #ffff;
    font-family: Helvetica, Arial, sans-serif;       
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../assets/images/snowy\ mountains.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header nav {
    margin: auto;
}

header nav ul {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: #ffff;
    text-decoration: underline overline #ffff;
}

header nav ul li a:hover {
    background: #ffff;
    color: #87CEEB;
    border-radius: 20px;
}



.hero {
    background-image: url(../assets/images/snowy\ mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
}

.hero h1 {
    margin: 50px auto;
    font-size: 5vw;
    color: #ffff;
}

.section-style {
    width: 98%;
    display: block;
    margin: 20px 25px;
}

.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    background-color: #87CEEB;
    color: #ffff;
}

.content img {
    max-height: 300px;
    float: left;
    margin-right: 40px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 2.5vw;
}

.content p {
    font-size: 1vw;
}

.projects {
    display: flex;
    flex-wrap: flex;
    background: #87CEEB;
    justify-content: space-between;
    width: 98%;
    margin: 20px 25px;
    max-height: 400px;
    padding: 25px;
}

.projects-links {
    margin: 10px 15px;
    padding: 25px;
}

footer {
    padding: 20px 35px;
    background-color: #87CEEB;
    display: flex;
    justify-content: space-between;
    flex-wrap: flex;
    width: 100%;
}

footer h3 {
    font-weight: bold;
    margin: 0;
    font-size: 32px;
    color: #ffff;
}

footer a {
    text-decoration: underline overline #ffff;
    color: #ffff;
    justify-content: space-between;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1vw;
}

footer nav ul li a:hover {
    background: #ffff;
    color: #87CEEB;
    border-radius: 20px;
}




